.title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  width: 300px;
  line-height: 24px;
  margin-bottom: 5px;
  margin-top: 3px;
}

.stats {
  font-family: Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
  margin-bottom: 20px;
}

.author {
  font-family: Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-top: 0;
  margin-bottom: 20px;
}

.description {
  font-family: Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 280px;
  margin-top: 0;
  line-height: 22px;
}

.apple {
  margin-bottom: 50px;
  background-color: rgb(227, 65, 64);
  font-size: 14px;
  border: none;
  color: white;
  text-align: center;
  padding: 20px 0px 20px;
}

.shop:hover {
  text-decoration: underline;
  cursor: pointer;
}